.titulo{
    width: 12%;
    text-align: end;
    margin-right: 5px;
}

form{
    width: 70%;
}

.cuadro{
    display: flex;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

input{
    margin: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    
}

label{
}

input:hover{
    border: 3px solid red;
    border-radius: 5px;
}

.cuadro:hover{
    background-color: yellow;
}